%div.panel.panel-default
  %div.panel-heading
    %h2
      = @event.event_name
  %div.panel-body
    = render 'form'
  %div.panel-footer
    = link_to "Sign up", events_signup_path(@event), :method => :post, :class => 'btn btn-primary btn-lg'
    - if @current_member_signed_up
      = link_to "Remove from event", events_remove_member_path(@event), :method => :delete, :class => 'btn btn-primary btn-lg'
