.modal-dialog.draggable
  .modal-content
    .modal-header
      %button#x-close(type="button" data-dismiss="modal" aria-hidden="true") x
    .modal-body
      %ul.fa-ul.errors
      = render 'event_info'