/*
 *= require fullcalendar
 *= require bootstrap
*/

body {
  padding-top: 80px;
  background: url(http://www.thomasfamilyhwc.com/wp/wp-content/themes/thomas/library/img/023611861-loopable-abstract-background-b.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#flash-container {
  position: relative;
  top: -80px;
}

#error-container {
	position: relative;
	top: 0px;
}

.red {
  background-color: #B80000;
  color: white;
  opacity: 0.75;
}

.centered-stats {
  position: fixed;
  top: 35%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
