/*
 *= require fullcalendar
*/

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 80px;
  background: url(http://www.thomasfamilyhwc.com/wp/wp-content/themes/thomas/library/img/023611861-loopable-abstract-background-b.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#flash-container {
  position: relative;
  top: -80px;
}

#error-container {
	position: relative;
	top: 0px;
}

.centered {
  /* found this code at https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */
  position: fixed;
  top: 55%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}