=render 'navbar'

%div.col-lg-8
  .row
    .col-lg-6
      .input-group
        %input.form-control#search_input{:placeholder => "Search by Name...", :type => "text"}
        %span.input-group-btn
          %button.btn.btn-default#filter_mems{:type => "button" } Find

  %div.panel.panel-default
    %div.panel-heading
      %i.fa.fa-clock-o.fa-fw
        Volunteer Statistics
    %div.panel-body
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th Name
            %th Total Hours
            %th Current Events
            %th Requirement Met?

        %tbody
          - @allMembers.each do |member|
            %tr.member_row
              %th.full_name 
                =member[:name]
              %th 
                =member[:total_hours]
              %th 
                =member[:current_events]
              %th
                =member[:req_met]