=render 'navbar'

%div.col-lg-8
  %div.panel.panel-default
    %div.panel-heading
      %i.fa.fa-clock-o.fa-fw
        Volunteer Statistics
    %div.panel-body
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th Name
            %th Total Hours
            %th Current Events
            %th Requirement Met?

        %tbody
          - @allMembers.each do |member|
            %tr
              %th 
                =member[:name]
              %th 
                =member[:total_hours]
              %th 
                =member[:current_events]
              %th
                =member[:req_met]