=render 'navbar'
/ center

-if @current_mem.is_admin 
  %button.btn.btn-primary{"data-target" => ".bs-example-modal-lg", "data-toggle" => "modal", :type => "button"} +Add Announcement

.modal.fade.bs-example-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h4#exampleModalLabel.modal-title New Announcement
      .modal-body
        %form
          .form-group
            %label.control-label{:for => "recipient-name"} Title:
            %input#recipient-name.form-control{:type => "text"}
          .form-group
            %label.control-label{:for => "message-text"} Message:
            %textarea#message-text.form-control
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
        %button.btn.btn-primary{:type => "button"} Save Announcement
       




.col-sm-offset-3.col-sm-6
  %div.panel.panel-default
    %div.panel-heading
      %b All Announcements
    - @ordered_announcements.each do |this_announcement|
      %div.panel-body
        .row.centered-form
          .col-xs-12
            %h2= this_announcement.title
            %p= this_announcement.body
            %p.lead
              %button.btn.btn-default Read More
            %p.pull-right
              %span.label.label-default keyword
              %span.label.label-default tag
              %span.label.label-default post
            %ul.list-inline
              %li
                %a{:href => "#"} 2 Days Ago
              %li
                %a{:href => "#"}
                  %i.glyphicon.glyphicon-comment
                  2 Comments
              %li
                %a{:href => "#"}
                  %i.glyphicon.glyphicon-share
                  14 Shares
