=render 'navbar'
/ center
.col-sm-offset-3.col-sm-6
  %div.panel.panel-default
    %div.panel-heading
      %b All Announcements
    - @ordered_announcements.each do |this_announcement|
      %div.panel-body
        .row.centered-form
          .col-xs-12
            %h2= this_announcement.title
            %p= this_announcement.body
            %p.lead
              %button.btn.btn-default Read More
            %p.pull-right
              %span.label.label-default keyword
              %span.label.label-default tag
              %span.label.label-default post
            %ul.list-inline
              %li
                %a{:href => "#"} 2 Days Ago
              %li
                %a{:href => "#"}
                  %i.glyphicon.glyphicon-comment
                  2 Comments
              %li
                %a{:href => "#"}
                  %i.glyphicon.glyphicon-share
                  14 Shares
