- require 'active_support/core_ext'
= render 'navbar'
%div.col-lg-8{:style => "padding-left:450px;"}
  %form{:role => "form"}
    .form-group
      %input.form-control#searchfield{:placeholder => "Search by Name...", :type => "search"}/
  %div.panel
    %div.panel-body
      <div id="member_list" style="overflow-y: scroll; height:540px;">
      %div.list-group#searchlist
        - @ordered_members.each do |member|
          %a.list-group-item{:href => '#'}
            %tr
              %h3
                %span 
                  = member.first_name + " " + member.last_name
              %p
                = " " + member.email
              %p
                = " (" + member.phone.to_s[0..2] + ") " + member.phone.to_s[3..5] + "-" + member.phone.to_s[6..9]