- require 'active_support/core_ext'
= render 'navbar'

%div.col-lg-8
  %div.panel.panel-default
    %div.panel-heading
      %i.fa.fa-clock-o.fa-fw
        Announcements
    %div.panel-body
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th Announcement
            %th Date
      %a.btn.btn-primary.btn-block{:href => '#'}
        View All Announcements

%div.col-lg-4
  %div.panel.panel-default
    %div.panel-heading
      %i.fa.fa-bell.fa-fw
        Upcoming Events
    %div.panel-body
      You are signed up for:
      %div.list-group
        - @events.each do |event|
          %a.list-group-item{:href => '#'}
            =event.event_name
            %span.pull-right.text-muted.small
              = time_ago_in_words(event.date) 
      %a.btn.btn-primary.btn-block{:href => '#'}
        View All Events