=render 'navbar'

%div.col-lg-4
  %div.panel.panel-default
    %div.panel-heading
      %i.fa.fa-clock-o.fa-fw
        Events stats
    %div.panel-body
      Required Events Completed
      .progress
        .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "50", :role => "progressbar", :style => "width: #{@num_required_events*50}%;"}
          = @num_required_events
          \/ 2

      %table.table.table-striped.table-bordered
        %thead
          %tr#total
            %th Total Hours Completed
            %th
              = @total_hours_completed

%div.col-lg-8
  %div.panel.panel-default
    %div.panel-heading
      %i.fa.fa-clock-o.fa-fw
        Events attended
    %div.panel-body
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th Date
            %th Event
            %th Hours completed

        %tbody
          - @memevents.each do |memevent|
            %tr
              %th 
                =memevent.event.date.strftime("%m/%d/%Y")
              %th 
                =memevent.event.event_name
              %th 
                =memevent.hours